---
// 絶対パスで
// 画像はsrc/pages内の各ディレクトリにimagesフォルダを作成する
import Layout from "../../layouts/Layout.astro";
import "../../scss/styles.scss";
const title = "";
const description = "";
const og_image = "";
import { getEvents, getEventDetail } from "@/lib/microcms";

export async function getStaticPaths() {
  const response = await getEvents();
  const events = Array.from(response.contents);
  return events.map(event => ({
    params: { id: event.id },
  }));
}

const {id} = Astro.params;
const event = await getEventDetail(id);
---



<Layout title={title} , description={description} og_image={og_image}>
<main>
    <section>
        <div class="p-Ivent-main">
            <h1 class="p-Ivent-main-title ">{event.title}</h1>
        </div>
    </section>
    <section>
        <div class="p-Ivent-sentence">
            <p>{event.content}</p>
        </div>
        {event.images.map((image) => {
            return (
                <div class="p-Ivent-photo-main">
                    <img class="p-Ivent-photo-main-img" src={image.url} alt="">
                </div>
            )
        })}
    </section>
    <!-- <section>
        <div class="p-Ivent-sentence">
            <p>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ</p>
        </div>
        <div class="p-Ivent-photo-sub">
            <img class="p-Ivent-photo-sub-img" src="../../../public/assets/hasu_1.jpg" alt="">
        </div>
    </section> -->
</main>
</Layout>