---
// 絶対パスで
// 画像はsrc/pages内の各ディレクトリにimagesフォルダを作成する
import Layout from "../../layouts/Layout.astro";
import "../../scss/styles.scss";
const title = "";
const description = "";
const og_image = "";
import { getTournaments, getTournamentDetail } from "@/lib/microcms";

export async function getStaticPaths() {
  const response = await getTournaments();
  const tournaments = Array.from(response.contents);
  return tournaments.map(tournament => ({
    params: { id: tournament.id },
  }));
}

const {id} = Astro.params;
const tournament = await getTournamentDetail(id);
---



<Layout title={title} , description={description} og_image={og_image}>
<main>
    <section id="">
        <div class="p-detail-main">
            <h1 class="p-detail-main-title">{tournament.title}</h1>
        </div>
    </section>

    <section>
        <div class="p-detail-sentence">
            <div class="p-detail-bluebox-big"></div>
            <div class="p-detail-bluebox-small"></div>
            <p class="p-detail-sentence-content">{tournament.content}</p>
        </div>
    </section>
    <!-- <div class="p-detail-line">
        <div class="p-detail-line-top"></div>
        <div class="p-detail-line-middle"></div>
        <div class="p-detail-line-under"></div>
    </div> -->

    <!-- <section class="p-detail-mainphoto">
        <img class="p-detail-mainphoto-img" src="../../../public/assets/hasu_1.jpg" alt="">
    </section> -->
    <!-- 実装してくれたのに申し訳ないけど上の大きい画像は、書類とか載せることを考えると無くした方がいいかも -->
    
    <!-- <div class="p-detail-blue-line">
        <div class="p-detail-blue-line-top"></div>
        <div class="p-detail-blue-line-middle"></div>
        <div class="p-detail-blue-line-under"></div>
    </div>
    <div class="p-detail-bottom-line">
        <div class="p-detail-bottom-line-top"></div>
        <div class="p-detail-bottom-line-middle"></div>
        <div class="p-detail-bottom-line-under"></div>
    </div>
    <div class="p-detail-bottom-blueline">
        <div class="p-detail-bottom-blueline-top"></div>
        <div class="p-detail-bottom-blueline-middle"></div>
        <div class="p-detail-bottom-blueline-under"></div>
    </div> -->


    <section>
        <div class="p-detail-subphoto">
            {tournament.images && tournament.images.map((image) => {
                return (
                <img class="p-detail-subphoto-all" src={image.url} alt="">
                )
            })}
        </div>
    </section>

    <!-- <div class="p-detail-bottom-line">
        <div class="p-detail-bottom-line-top"></div>
        <div class="p-detail-bottom-line-middle"></div>
        <div class="p-detail-bottom-line-under"></div>
    </div> --> 

</main>
</Layout>