---
// 絶対パスで
// 画像はsrc/pages内の各ディレクトリにimagesフォルダを作成する
import Layout from "../../layouts/Layout.astro";
import "../../scss/styles.scss";
const title = "";
const description = "";
const og_image = "";
import TournamentComponent from '../../components/information.astro'
import { getTournaments } from "@/lib/microcms";
const response = await getTournaments({fields: ["id", "title", "description", "content", "images", "og_image", "createdAt", "publishedAt"]})
const tournaments = response.contents;

import Search from "@/components/Search.astro";
---



<Layout title={title} , description={description} og_image={og_image}>
<main>
    <section id="">
        <div class="p-information">
            <h1 class="p-information-title">大会情報</h1>
            <div class="p-information-search">
                <Search />
                <!-- <p class="">検索</p> -->
            </div>
        </div>
    </section>
    <div class="p-line">
        <div class="p-line-top"></div>
        <div class="p-line-middle"></div>
        <div class="p-line-under"></div>
    </div>
    <div class="p-blue-line">
        <div class="p-blue-line-top"></div>
        <div class="p-blue-line-under"></div>
    </div>
    <div class="p-bottom-line">
        <div class="p-bottom-line-top"></div>
        <div class="p-bottom-line-middle"></div>
        <div class="p-bottom-line-under"></div>
    </div>
    <div class="p-bottom-blueline">
        <div class="p-bottom-blueline-top"></div>
        <div class="p-bottom-blueline-middle"></div>
        <div class="p-bottom-blueline-under"></div>
    </div>
    <div class="p-bottom-blueline-right">
        <div class="p-bottom-blueline-right-top"></div>
        <div class="p-bottom-blueline-right-middle"></div>
        <div class="p-bottom-blueline-right-under"></div>
    </div>
    <section id="" class="p-content">
        <div class="p-content-bluebox-big"></div>
        <div class="p-content-bluebox-small"></div>
        <div class="p-content-sentence">
            <div class="p-content-sentence-every">
                <div>
                    {tournaments.map((tournament) => {
                        return (
                            <div>
                                <TournamentComponent title={tournament.title} content={tournament.content} tournament={tournament}/>
                            </div>
                        )
                    })}
                </div>
            </div>
            <div class="p-content-sentence-archive">
                <p class="p-content-sentence-archive-title">月別アーカイブ</p>
                <div class="p-content-sentence-archive-everyday">
                    <div>
                        <p class="p-content-sentence-archive-day">2024/08<p>
                        <p class="p-content-sentence-archive-day">2024/07</p>
                    </div>
                    <div>
                        <p class="p-content-sentence-archive-day">2024/08</p>
                        <p class="p-content-sentence-archive-day">2024/08</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</Layout>