---
import { Image } from 'astro:assets'
import slide01 from '/public/assets/elly-DSC_1501-Edit_TP_V4.webp'
import slide02 from '/public/assets/Redsugar0405002_TP_V4.webp'
import slide03 from '/public/assets/yudai_509s0003_TP_V4.webp'
import slide04 from '/public/assets/yudai_509s0055_TP_V4.webp'
import slide05 from '/public/assets/yuta12-049_TP_V4.webp'
---

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><Image src={slide01} alt="" /></div>
    <div class="swiper-slide"><Image src={slide02} alt="" /></div>
    <div class="swiper-slide"><Image src={slide03} alt="" /></div>
    <div class="swiper-slide"><Image src={slide04} alt="" /></div>
    <div class="swiper-slide"><Image src={slide05} alt="" /></div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-button swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<style>
  .swiper-wrapper {
    max-width: 1440px;
    max-height: 625px;
  }

  .swiper-slide img {
    height: auto;
    max-width: 1440px;
    object-fit: cover;
  }

  .swiper-button::after {
    font-size: 32px;
    color: rgb(215, 119, 22);
  }
</style>

<script>
  import Swiper from 'swiper'
  import { Navigation, Pagination } from 'swiper/modules'
  import 'swiper/css/bundle'

  export const swiperConfig = {
    modules: [Navigation, Pagination],
    // Optional parameters
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  }

  const swiper = new Swiper('.swiper', swiperConfig)
</script>